USE [DbNotKayit]
GO
/****** Object:  Table [dbo].[TBLDERS]    Script Date: 7.02.2026 23:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERS](
	[OGRID] [smallint] IDENTITY(1,1) NOT NULL,
	[OGRNUMARA] [char](4) NULL,
	[OGRAD] [varchar](50) NULL,
	[OGRSOYAD] [varchar](50) NULL,
	[OGRS1] [tinyint] NULL,
	[OGRS2] [tinyint] NULL,
	[OGRS3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL
) ON [PRIMARY]
GO
